@import "tailwindcss";

@theme {
  --color-primary: #0891b2;   /* cyan-600 */
  --color-secondary: #475569; /* slate-600 */
  --color-muted: #cbd5e1;     /* slate-300 */
}

html {
  scroll-behavior: smooth;
}

:root {
  font-family: "Google Sans", sans-serif;
}

