@import "tailwindcss";

@theme {
  --color-primary: #0891b2;
  --color-secondary: #475569;
  --color-muted: #cbd5e1;

  --color-main-bg: white;
  --color-main-text: #1e293b; 
  --color-card-bg: #f8fafc; 
}

.dark {
  --color-main-bg: #0f172a; 
  --color-main-text: #f1f5f9; 
  --color-card-bg: #1e293b;
}

@variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

:root {
  font-family: "Google Sans", sans-serif;
}
